<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = 'grid'>
        <div class="button">
            <a href= "/clothing">See all listings</a>
        </div>

        <div class="button">
            <a href="/clothing/new">Post a listing</a>
        </div>

        <div class="button">
            <a href=""></a>Update your current listing</a>
        </div>

        <div class="button">
            <a href=""></a>Buy!</a>
        </div>
    </div>

    <h1>Mongo's Consignment!</h1>
    <p>Here at Mongo's Consignment, we bring you the best of ready to wear's, for the people by the people. <br> At Mongo's Virtual Consignment store, the only frills you'll find are in the catalog!</p>
    


</body>
</html>