<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button type="'submit">Post a listing</button>
    <button type="'submit">See all listings</button>
    <button type="'submit">Update your current listing</button>
    <button type="'submit">Buy!</button>
    <h1>Mongo's Consignment!</h1>
    <p>Here at Mongo's Consignment, we bring you the best of ready to wear's, for the people by the people. <br> We would say we're a no frills company, but some people find it fashionable!</p>
    


</body>
</html>