<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>J's Consignment Upload Form!</h1>
    <form action="/clothing" method="POST">
        <label>article of clothing:</label>
        <input type="text" name="name"/><br>

        <label>Brand:</label>
        <input type="text" name="brand"/><br>
        <label>Is it new or in wearable condition?</label>
        <input type="checkbox" name="isReadyToWear"/><br>
        <button type="'submit">Post Your Clothing!</button>

    </form>

</body>
</html>